/*@font-face {
  font-family: "AmazonEmber_W_Bd";
  src: url(../fonts/AmazonEmber_W_Bd.woff) format("woff");
}*/

@font-face {
  font-family: "AmazonEmber_W_He";
  src: url(../fonts/AmazonEmber_W_Lt.woff2) format("woff");
}

/*@font-face {
  font-family: "AmazonEmber_W_He";
  src: url(../fonts/AmazonEmber_W_Rg.woff2) format("woff");
}*/
